@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Playfair+Display&family=Shadows+Into+Light&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card {
      background-color: theme('colors.white');
      border-radius: theme('borderRadius.lg');
      padding: theme('spacing.6');
    }
    .card-button {
      height: 30px;
      width: 30px;
      position: relative;
      bottom: 0%;
    }
    .card-img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 100px;
      width: auto;
    }
    .two-lines {
      display: block;/* or inline-block */
      text-overflow: ellipsis;
      word-wrap: break-word;
      overflow: hidden;
      min-height: 3.6em;
      line-height: 1.8em;
    }
    html, body {
        margin: 0;
        height: 100%;
        background-color: theme('colors.blue-green');
    }
  }